extends layout

block append head
	title=title

block navigation
	.navbar(class='navbar-inverse navbar-fixed-top')
		.navbar-inner
			.container
				button(type='button', class='btn btn-navbar', data-toggle='collapse', data-target='.nav-collapse')
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.brand(href='/')=title
				.nav-collapse(class='collapse')
					ul.nav
						li
							a(href='/') Home
						li
							a(href='/about') About
						li.active
							a(href='/contact') Contact
					form.navbar-search(class='pull-right', method='POST', action='/search')
						input(type='text', class='search-query span2', name='username', onfocus='if(this.placeholder === "Search...") {this.placeholder = "";}', onblur='if(this.placeholder === "") {this.placeholder = "Search...";}', placeholder='Search...')


block header
	.jumbotron(class='masthead')
		.container
			h2 Contact

block content
      
block footer
	footer.footer
		.container
			p.pull-right
				a(href='#') Back to top
      
      
      
      
      
      
      
      
      
      
      
      
      
      
