doctype 5
html(lang="en")
	head
		block head
			title= title
			meta(name="viewport", content="width=device-width, initial-scale=1.0")
			link(rel='stylesheet', href='/stylesheets/style.css')
body
	block content
	
	script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
	script(type='text/javascript')